body{

    padding: 0px;
    margin: 0px;
background-color:bisque ;
font-family: 'Mali', cursive;
}
@media screen and (max-width:425px) {
    body{
        width: 100%;
        }
}

/*   .box {
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 16px;
    transition: width 4s, background-color 4s;
}
.box :hover{
width: 600px;
transition-property: height;
transition-duration: 4s ;
transition-delay: 2s;
transition-timing-function: ease;
background-color: tomato;
}
*/

 
/* .main{
width: 100%;
max-width: 1200px;
margin: 0px auto;
} */

.container1{
display: flex;
flex-direction: column;
width: 100%;
height: 100px;
text-align: center;
background-color: #271E1E;
color: white;
position:  sticky;
}
@media screen and (max-width:425px) {
    .container1{
        width: 100%;
        display: flex;
        }
}

/* .bigbox1{
    margin-left: 10px;
    width: 100px;
    height: 400px;
    background-color: white;
    align-content: center;
    justify-content: center;
} */
.pic-head{
    height: 200px;
    background-image: url('pic-voluteer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* box-shadow:0 0 10px #ff8c3b,
               0 0 40px #ff8c3b,
               0 0 80px #ff8c3b,
               0 0 160px #ff8c3b,
               0 0 240px #ff8c3b; */
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,100%
    {
        color: #ff8c3b;
    }
    18.1%,20.1%,30%,50%,60.1%,65.1%,80.1%,90%,92.1%,100%{
       box-shadow:  0 0 10px #ff8c3b,
               0 0 40px #ff8c3b,
               0 0 80px #ff8c3b,
               0 0 160px #ff8c3b;
    }
}
@media screen and (max-width:425px) {
    .pic-head  {
        width: 100%;
        height:100px;
        }
}


.text1{
    display: flex;
    font-size: 90px;
    margin-top: 50px;
    margin-right: 90px;
    align-content: center;
    justify-content: center;  
    font-style: 'Roboto', sans-serif;
    color: white;
}


@media screen and (max-width:425px){
    .text1{
        align-content: flex-end;
        justify-content: flex-end;  
        margin-top: 10px;
        font-size: 50px;    
        position: relative;
    }
}


.container2{
   display: flex;
   height: 350px;
   align-self: center;
    margin-top: 250px;
   justify-content: center;
   transition-duration: 0.5s;

}
.container2:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    animation-duration: 2s;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px #BF8B66,
    0 0 40px #BF8B66,
    0 0 80px #BF8B66,
    0 0 160px #BF8B66;

}
@media screen and (max-width:425px){
    .container2{
      width: 100%;
      display: flex;
    flex-direction: column;
    margin-top: 5px;

    }
}

.group1{
    display: flex;
    align-items: center;
    width: 100%;
   
}

.text2{
    align-items: center;
    margin-left: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}
@media screen and (max-width:425px){
    .text2{
     font-size: 9px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
     display: flex;
     flex-direction: column;
    }
}
.text2 h1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Mali', cursive;
}


.button{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.4s;
}
@media screen and (max-width:425px){
    .button{
     font-size: 9px;
    margin-bottom: 10px;
     display: flex;
     flex-direction: column;
    }
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.582);
    color: rgb(255, 255, 255);
    /* padding: 7px 12px; */
    transform: translateY(5px);
}
@keyframes bou {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(0 px);
    }
    50% {
      transform: translateY(-64px);
    }
    65% {
      transform: translateY(-12px);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.pic1{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    margin-right: 10px;
    border-width: 10px;
    margin-left: 20px;
    animation-name: bou;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    animation-duration: 1s;
    animation-iteration-count: ease;
    transition: 0.4s;

}
@media screen and (max-width:425px){
    .pic1{
      width: 150px;
      height: 100px;
      margin-left: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
      animation-duration: 1s;
      animation-iteration-count: ease;
      transition: 0.4s;
    }
}
.pic1:hover{
    transform: translateX(-15px);
}

.container3{
    display: flex;
    height: 350px;
    margin-top: 60px;
    align-self:center ;
    justify-content: center;
   transition-duration: 0.5s;

}
.container3:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    animation-duration: 2s;
    transition-duration: 0.5s;
    box-shadow:0 0 10px #BF8B66,
    0 0 40px #BF8B66,
    0 0 80px #BF8B66,
    0 0 160px #BF8B66;
}
@media screen and (max-width:425px){
    .container3{
      width: 100%;
      display: flex;
    flex-direction: column;
    margin-top: 5px;

    }
}

.group2{
    display: flex;
    align-items: center ;
    width: 100%;

}

.pic2{      
    width: 500px;
    height: 300px;
    margin-left:  20px;    
    border-radius: 10px;
    animation-name: bou;
    animation-duration: 1s;
    animation-iteration-count: ease;
    transition: 0.4s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);


}
@media screen and (max-width:425px){
    .pic2{
      width: 150px;
      height: 100px;
      margin-left: 10px;
    }
}
.pic2:hover{
    transform: translateX(-15px);
}




.container4{
    display: flex;
    height: 350px;
    margin-top: 60px;
    align-self:center ;
    justify-content: center;
    transition-duration: 0.5s;
}
.container4:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    animation-duration: 2s;
    transition-duration: 0.5s;
    box-shadow:  0 0 10px #BF8B66,
    0 0 40px #BF8B66,
    0 0 80px #BF8B66,
    0 0 160px #BF8B66;
}
@media screen and (max-width:425px){
    .container4{
      width: 100%;
      display: flex;
    flex-direction: column;
    margin-top: 5px;

    }
}
.group3{
    display: flex;
    align-items: center ;
    width: 100%;


}
.pic3{
    width: 500px;
    height: 300px;
    margin-left: 20px;
    border-radius: 10px;
    animation-name: bou;
    animation-duration: 1s;
    animation-iteration-count: ease;
    transition: 0.4s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

}
@media screen and (max-width:425px){
    .pic3{
      width: 150px;
      height: 100px;
      margin-left: 10px;
    }
}
.pic3:hover{
    transform: translateX(-15px);
}



.coming{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}
 

@media screen and (max-width:425px){
    .coming{
        align-content: center;
        justify-content: center;  
        font-size: 10px;
        margin-left: 20px;
        }   
}

